# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/0-
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
Assets/_Recovery/

# Build output folders (yours specifically)
BuildCapstoneProject_BackUpThisFolder_ButDontShipItWithYourGame/
Capstone Project_BurstDebugInformation_DoNotShip/

# VS/Editor files
.vs/
.vscode/
*.csproj
*.sln
*.unityproj
*.tmp
*.user
*.userprefs

# Large asset packages
*.unitypackage
*.apk
*.aab

# OS files
.DS_Store
Thumbs.db